doctype html
html
    head
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Press+Start+2P')
        link(rel="stylesheet", href="index.scss")

    body
        script(src="index.js")
